*.py[co]
**/*bak*
**/*private*

# IDE and CI files
.coverage
.pre-commit-config.yaml
**/__pycache__
**/.mypy_cache
**/.tox
**/.vscode
**/venv
coverage.xml


# Vim
*.swp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Sphinx
docs/_*

# jython
*$py.class
